@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #E2E2D5;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 17rem;
}
input[type="text"]{
    background: #202020;
    padding: 0 10px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #303030;
    margin-top: 10px;
    /* background: #202020;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #303030;
    width: 100%;
    margin-top: 10px; */
}

select{
    background: #202020;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #303030;
    width: 100%;
    margin-top: 10px;
}

select:focus, input:focus{
    outline: none;
}

select option {
    margin: 40px;
    background: #202020;
    color: #E2E2D5;
}

.container{
    background-color: #202020;
    padding: 10px;
}
.container-button{
    display: flex; 
    justify-content: left;
}

.container-filter{
    margin: 10px 0;
    padding: 5px 0;
}

#password{
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.15em;
}

#password-length{
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 0.15em;
}

.label-slider{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;  
    background: #303030;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 13px;
height: 13px;
border-radius: 50%; 
background: #005cc8;
cursor: pointer;
}
  
.slider::-moz-range-thumb {
width: 13px;
height: 13px;
border-radius: 50%;
background: #005cc8;
cursor: pointer;
}

.btn{
    background: #005cc8;
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: #E2E2D5;
}